:root {
  --phcreativeblog-primary: #FF0F4B;
  --phcreativeblog-primary-text: #f9ffe7;
  --phcreativeblog-background-main: #fff;
  --phcreativeblog-background-vibrant: #49dfd4;
  --phcreativeblog-background-darker: #eeeeee;
  --phcreativeblog-background-light: #fffbd5;
  --phcreativeblog-secondary: #747474;
  --phcreativeblog-secondary-dark: #B6002E;
  --phcreativeblog-secondary-text: #FFF;
  --phcreativeblog-text-dark: #111;
  --phcreativeblog-text: #555;
  --phcreativeblog-text-light: #777;
  --phcreativeblog-header-background: #fff;
  --phcreativeblog-header-global-background: #000000;
  --phcreativeblog-header-lighter: #222;
  --phcreativeblog-header-text: #FFFFFF;
  --phcreativeblog-menu-text: #232323;
  --phcreativeblog-top-bar-text: #fffdec;
  --phcreativeblog-top-bar-background: #3a3a3a;
  --phcreativeblog-mobile-header-background: #FFFFFF;
  --phcreativeblog-mobile-header-text: #222222;
}
#social-menu a,
#social-menu-sidr a {
  content: "";
  width: 20px;
  position: relative;
  color: transparent;
}
#social-menu a:after,
#social-menu-sidr a:after {
  text-indent: 0;
  display: block;
  float: left;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  visibility: visible;
  font-size: 18px;
  position: absolute;
  top: 0;
}
#social-menu a[href*="dribbble.com"]:after,
#social-menu-sidr a[href*="dribbble.com"]:after {
  content: "\f17d";
  color: #ea4c89;
}
#social-menu a[href*="github.com"]:after,
#social-menu-sidr a[href*="github.com"]:after {
  content: "\f09b";
  color: black;
}
#social-menu a[href*="facebook.com"]:after,
#social-menu-sidr a[href*="facebook.com"]:after {
  content: "\f09a";
  color: #3b5998;
}
#social-menu a[href*="flickr.com"]:after,
#social-menu-sidr a[href*="flickr.com"]:after {
  content: "\f16e";
  color: #ff0084;
}
#social-menu a[href*="foursquare.com"]:after,
#social-menu-sidr a[href*="foursquare.com"]:after {
  content: "\f180";
  color: #0072b1;
}
#social-menu a[href*="plus.google.com"]:after,
#social-menu-sidr a[href*="plus.google.com"]:after {
  content: "\f0d5";
  color: #dd4b39;
}
#social-menu a[href*="instagram.com"]:after,
#social-menu-sidr a[href*="instagram.com"]:after {
  content: "\f16d";
  color: #517fa4;
}
#social-menu a[href*="linkedin.com"]:after,
#social-menu-sidr a[href*="linkedin.com"]:after {
  content: "\f0e1";
  color: #007bb6;
}
#social-menu a[href*="pinterest.com"]:after,
#social-menu-sidr a[href*="pinterest.com"]:after {
  content: "\f231";
  color: #cb2027;
}
#social-menu a[href*="reddit.com"]:after,
#social-menu-sidr a[href*="reddit.com"]:after {
  content: "\f231";
}
#social-menu a[href*="tumblr.com"]:after,
#social-menu-sidr a[href*="tumblr.com"]:after {
  content: "\f173";
  color: #32506d;
}
#social-menu a[href*="twitter.com"]:after,
#social-menu-sidr a[href*="twitter.com"]:after {
  content: "\f099";
  color: #00aced;
}
#social-menu a[href*="vimeo.com"]:after,
#social-menu-sidr a[href*="vimeo.com"]:after {
  content: "\f194";
  color: #aad450;
}
#social-menu a[href*="wordpress.com"]:after,
#social-menu-sidr a[href*="wordpress.com"]:after {
  content: "\f19a";
  color: #0073aa;
}
#social-menu a[href*="wordpress.org"]:after,
#social-menu-sidr a[href*="wordpress.org"]:after {
  content: "\f19a";
  color: #0073aa;
}
#social-menu a[href*="youtube.com"]:after,
#social-menu-sidr a[href*="youtube.com"]:after {
  content: "\f167";
  color: #bb0000;
}
#social-menu a[href*="mailto:"]:after,
#social-menu-sidr a[href*="mailto:"]:after {
  text-indent: 0;
  display: block;
  float: left;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
}
#social-menu a[href*="twitch.tv"]:after,
#social-menu-sidr a[href*="twitch.tv"]:after {
  content: "\f1e8";
  color: #6441A5;
}
#social-menu a[href$="/feed/"]:after,
#social-menu-sidr a[href$="/feed/"]:after {
  text-indent: 0;
  display: block;
  float: left;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f09e";
  color: #ff9900;
}
#masthead.style2 #top-bar {
  padding: 2px 0;
  color: var(--phcreativeblog-top-bar-text);
}
#masthead.style2 #top-bar ul ul {
  display: none;
}
#masthead.style2 #top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  word-wrap: normal;
}
#masthead.style2 #top-bar #top-bar-left {
  font-size: 12px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#masthead.style2 #top-bar #top-bar-left .search-form {
  display: inline-block;
  text-align: right;
}
#masthead.style2 #top-bar #top-bar-left .search-form button,
#masthead.style2 #top-bar #top-bar-left .search-form input[type=submit] {
  display: none;
}
#masthead.style2 #top-bar #top-bar-left .search-form input[type=search] {
  font-size: 14px;
  border: dotted 1px var(--phcreativeblog-text-dark);
  border-radius: 31px;
  padding: 5px 10px;
  color: var(--phcreativeblog-header-text);
}
#masthead.style2 #top-bar #top-bar-left .search-form input[type=search]:focus {
  outline: var(--phcreativeblog-primary) solid 1px;
}
#masthead.style2 #top-bar #top-bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 13px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#masthead.style2 .top-bar-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#masthead.style2 .social-menu-wrapper {
  display: inline-block;
  padding: 2px;
  max-width: 350px;
}
#masthead.style2 .social-menu-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 35px;
  text-align: right;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#masthead.style2 .social-menu-wrapper ul li {
  display: inline;
}
#masthead.style2 .social-menu-wrapper ul li a {
  display: inline-block;
  height: 35px;
  width: 35px;
  overflow: hidden;
  background: var(--phcreativeblog-header-lighter);
  border-radius: 50%;
}
#masthead.style2 .social-menu-wrapper ul li a::-moz-selection {
  color: var(--phcreativeblog-header-lighter);
}
#masthead.style2 .social-menu-wrapper ul li a::selection {
  color: var(--phcreativeblog-header-lighter);
}
#masthead.style2 .social-menu-wrapper ul li a:after {
  padding: 4px 9px;
  color: var(--phcreativeblog-header-text);
}
#masthead.style2 .social-menu-wrapper ul li a:focus {
  outline: solid 1px var(--phcreativeblog-primary);
}
#masthead.style2 .social-menu-wrapper a:hover:after {
  color: var(--phcreativeblog-primary);
}
#masthead.style2 #top-menu li {
  display: inline;
}
#masthead.style2 #top-menu li a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  padding: 1px 10px;
  text-transform: uppercase;
  color: var(--phcreativeblog-top-bar-text);
}
#masthead.style2 #top-menu li a:hover {
  color: var(--phcreativeblog-primary);
  text-decoration: underline;
}
#masthead.style2 #top-bar-right {
  text-align: right;
}
#masthead.style2 #top-bar-right li {
  display: inline;
}
#masthead.style2 #top-bar-right li a {
  display: inline-block;
}
#masthead.style2 #middle-bar {
  position: sticky;
  background: var(--phcreativeblog-header-background);
  padding: 15px;
  top: 0;
  border-bottom: solid 1px var(--phcreativeblog-background-darker);
}
@media only screen and (max-width: 1200px) {
  #masthead.style2 #middle-bar {
    text-align: center;
  }
}
#masthead.style2 #middle-bar .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#masthead.style2 #site-branding {
  padding: 5px 10px;
  text-align: start;
}
#masthead.style2 #site-branding .custom-logo {
  max-height: 100px;
  width: auto;
}
#masthead.style2 #site-branding .site-title a {
  font-size: 27px;
  font-weight: 700;
  text-decoration: none;
}
#masthead.style2 #site-branding .site-title a:hover {
  color: var(--phcreativeblog-primary);
}
#masthead.style2 #seach-bar-wrapper {
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#masthead.style2 #seach-bar-wrapper .fa {
  cursor: pointer;
}
#masthead.style2 #seach-bar-wrapper .fa::before {
  cursor: pointer;
}
#masthead.style2 #site-navigation {
  text-align: center;
}
#masthead.style2 #site-navigation li {
  display: inline-block;
}
#masthead.style2 #site-navigation a {
  color: var(--phcreativeblog-menu-text);
  padding: 16px 16px;
  font-size: 16px;
  border-bottom: solid 2px transparent;
  position: relative;
}
#masthead.style2 #site-navigation a:focus {
  outline: solid 1px var(--phcreativeblog-primary);
}
#masthead.style2 #site-navigation a:hover {
  color: var(--phcreativeblog-primary);
}
#masthead.style2 #site-navigation .current-menu-item {
  background: var(--phcreativeblog-primary);
  -webkit-box-shadow: var(--phcreativeblog-background-darker) 0px 8px 24px;
          box-shadow: var(--phcreativeblog-background-darker) 0px 8px 24px;
  border-radius: 4px;
}
#masthead.style2 #site-navigation .current-menu-item a {
  color: var(--phcreativeblog-primary-text);
}
#masthead.style2 #site-navigation ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#masthead.style2 #site-navigation ul .menu-item-has-children:after {
  content: '⮟';
  color: var(--phcreativeblog-menu-text);
  top: 50%;
  right: 0px;
  margin-top: -9px;
  font-size: 12px;
  position: absolute;
}
@media only screen and (max-width: 1068px) {
  #masthead.style2 #site-navigation ul .menu-item-has-children:after {
    right: -4px;
  }
}
#masthead.style2 #site-navigation ul .menu-item-has-children:after:hover {
  color: var(--phcreativeblog-primary-text);
}
#masthead.style2 #site-navigation ul.sub-menu {
  width: 200px;
  background: #fff;
  border: solid 1px #eee;
  border-bottom: none;
  border-top: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  font-size: 13px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#masthead.style2 #site-navigation ul.sub-menu .menu-item-has-children:after {
  content: '⮟';
  color: var(--phcreativeblog-text);
  top: 50%;
  right: 4px;
  margin-top: -9px;
  font-size: 12px;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
#masthead.style2 #site-navigation ul.sub-menu .menu-item-has-children:after:hover {
  color: var(--phcreativeblog-primary-text);
}
#masthead.style2 #site-navigation ul.sub-menu a {
  color: #444;
  font-size: 13px;
}
#masthead.style2 #site-navigation ul.sub-menu li {
  border-bottom: solid 1px #eee;
}
#masthead.style2 #site-navigation ul.sub-menu li a {
  padding: 6px 15px;
  text-transform: none;
}
#masthead.style2 #site-navigation ul.sub-menu li a:hover {
  background: var(--phcreativeblog-primary);
  color: var(--phcreativeblog-primary-text);
}
#masthead.style2 #site-navigation ul.sub-menu li a:hover::before {
  background: none;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
#masthead.style2 #site-navigation ul.sub-menu li:hover ul.sub-menu,
#masthead.style2 #site-navigation ul.sub-menu li.focus ul.sub-menu {
  left: 100%;
  border-left: none;
  border-top: none;
  font-size: 12px;
}
#masthead.style2 #site-navigation ul.sub-menu li:hover ul.sub-menu .menu-item-has-children:after,
#masthead.style2 #site-navigation ul.sub-menu li.focus ul.sub-menu .menu-item-has-children:after {
  content: '';
}
#masthead.style2 #site-navigation ul.sub-menu ul ul {
  display: none;
}
@media screen and (max-width: 1200px) {
  #masthead.style2 #site-navigation {
    width: 100%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    min-width: 100%;
  }
  #masthead.style2 #site-navigation ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
#masthead.style2 .search-form-holder {
  background: none;
  display: none;
  padding: 20px;
}
#masthead.style2 .search-form-holder .search-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 1;
  height: 50px;
  padding: 0;
  z-index: 12;
  -webkit-transition: height 0.1s;
  transition: height 0.1s;
  position: relative;
}
#masthead.style2 .search-form-holder .search-input-wrapper input[type="search"] {
  background: none;
  border: none;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  line-height: 1.6;
  padding: 10px 20px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px 3px 3px 1px;
  border-color: var(--phcreativeblog-primary);
  letter-spacing: 0.5px;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#masthead.style2 .search-form-holder .search-input-wrapper input[type="search"]::-webkit-input-placeholder {
  color: var(--phcreativeblog-text);
}
#masthead.style2 .search-form-holder .search-input-wrapper input[type="search"]::-moz-placeholder {
  color: var(--phcreativeblog-text);
}
#masthead.style2 .search-form-holder .search-input-wrapper input[type="search"]:-ms-input-placeholder {
  color: var(--phcreativeblog-text);
}
#masthead.style2 .search-form-holder .search-input-wrapper input[type="search"]::-ms-input-placeholder {
  color: var(--phcreativeblog-text);
}
#masthead.style2 .search-form-holder .search-input-wrapper input[type="search"]::placeholder {
  color: var(--phcreativeblog-text);
}
#masthead.style2 .search-form-holder .search-input-wrapper input[type="search"]:focus {
  outline: none;
}
#masthead.style2 .search-form-holder .search-input-wrapper input[type="submit"] {
  display: none;
}
#mobile-navigation {
  height: 100%;
  display: inline-block;
  float: left;
}
#mobile-navigation .menu-toggle {
  display: inline-block;
  background: var(--phcreativeblog-primary);
  color: var(--phcreativeblog-primary-text);
  border: none;
}
#mobile-navigation .menu-toggle:focus {
  background: black;
  color: white;
}
#mobile-navigation #mobile-menu {
  display: none;
}
#mobile-navigation.toggled {
  position: fixed;
  z-index: 99999;
  width: 100%;
  background: var(--phcreativeblog-primary);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#mobile-navigation.toggled #mobile-menu {
  display: block;
}
#mobile-navigation.toggled .menu-toggle {
  display: block;
  width: 100%;
  text-align: left;
  background: black;
  color: white;
}
#mobile-navigation.toggled .menu-toggle:focus {
  background: #111;
  color: white;
}
#mobile-navigation a {
  color: var(--phcreativeblog-primary-text);
}
#mobile-navigation ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
#mobile-navigation ul li {
  display: block;
}
#mobile-navigation ul li a {
  padding: 9px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
#mobile-navigation ul ul {
  display: block;
  margin-left: 15px;
}
#mobile-navigation ul ul a {
  font-size: 13px;
  padding: 6px 15px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  #site-navigation {
    display: block;
  }
  #site-navigation li {
    display: inline-block;
  }
  #site-navigation li a {
    padding: 12px 9px;
    font-size: 12px;
  }
}
#masthead-mobile {
  background: var(--phcreativeblog-mobile-header-background);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 10px var(--phcreativeblog-background-darker);
          box-shadow: 0 2px 10px var(--phcreativeblog-background-darker);
}
#masthead-mobile #site-branding-mobile {
  font-size: 18px;
}
#masthead-mobile #site-branding-mobile img {
  max-height: 40px;
  width: auto;
}
#masthead-mobile #site-branding-mobile .site-title {
  margin-bottom: 0;
}
#masthead-mobile #site-branding-mobile .site-title a {
  text-decoration: none;
  color: var(--phcreativeblog-title-color);
}
#masthead-mobile #sidr-toggle,
#masthead-mobile .search-toggle {
  color: var(--phcreativeblog-mobile-header-text);
  font-size: 22px;
  padding: 10px 15px;
  opacity: 0.85;
}
#sidr input[type=submit] {
  display: none;
}
#sidr .search-form label {
  width: 100%;
}
#sidr .search-form {
  padding: 15px 0;
}
#sidr .search-form input[type=search] {
  margin-bottom: 0;
  background: #fbfbfb1a;
}
#sidr .sidr-social-menu-wrapper {
  background: #ffffff;
  border: solid 1px var(--phcreativeblog-background-darker);
}
#sidr #social-menu-sidr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
}
#sidr #social-menu-sidr li {
  display: inline-block;
  border: none;
}
#sidr #social-menu-sidr a {
  height: 48px;
}
#sidr #close-menu {
  float: right;
  background: none;
  color: #000;
  border: none;
  margin: 5px 14px;
  padding: 5px 10px;
}
#sidr #close-menu .fa {
  font-weight: 600;
  font-size: 17px;
}
#sidr .go-to-bottom,
#sidr .go-to-top {
  opacity: 0;
}
#sidr a:focus {
  outline: solid 1px var(--phcreativeblog-primary);
}
#sidr ul {
  position: relative;
}
#sidr ul .menu-item-has-children:after {
  content: '⮟';
  color: var(--phcreativeblog-text);
  right: 135px;
  top: 0px;
  font-size: 12px;
  position: absolute;
}
#sidr ul .menu-item-has-children:after:hover {
  color: var(--phcreativeblog-primary-text);
}
#sidr li {
  position: relative;
}
#sidr li .menu-item-has-children:after {
  content: '⮟';
  color: var(--phcreativeblog-text);
  right: 135px;
  top: 0px;
  font-size: 12px;
  position: absolute;
}
#sidr li .menu-item-has-children:after:hover {
  color: var(--phcreativeblog-primary-text);
}
#masthead.style2 {
  margin-bottom: 20px;
}
